<h3>Dashboard Route</h3>
<div width="100%" class="mdc-card mdc-elevation--z8">
   <div class="mdc-card__actions mdc-card__action">
      <div class="mdc-button mdc-button--unelevated mdc-button--raised">Vehicles</div>
   </div>
</div>
<div width="100%" class="mdc-card mdc-elevation--z7">
   <div class="mdc-card__actions mdc-card__action">
      <div class="mdc-button mdc-button--raised">Fuel / Fill-ups</div>
   </div>
</div>
<div width="100%" class="mdc-card mdc-elevation--z6">
   <div class="mdc-card__actions mdc-card__action">
      <div class="mdc-button mdc-button--theme-light mdc-button--raised">Trips</div>
   </div>
</div>
<div width="100%" class="mdc-card mdc-elevation--z5">
   <div class="mdc-card__actions mdc-card__action">
      <div class="mdc-button mdc-button--raised">Maintenance</div>
   </div>
</div>
<div class="button-container">
   <button type="button" class="mdc-button cancel">Cancel</button>
   <button class="mdc-button mdc-button--raised next">Next</button>
</div>
{{outlet}}