<h3>Dashboard Route</h3>
<div class="mdc-card">
   <div class="mdc-card__actions mdc-card__action">
      <button class="mdc-button mdc-button--unelevated mdc-button--raised">Vehicles</button>
   </div>
</div>
<div class="mdc-card">
      <button class="mdc-button mdc-button--raised">Fuel / Fill-ups</button>
</div>
<div class="mdc-card">
      <button class="mdc-button mdc-button--theme-light mdc-button--raised">Trips</button>
</div>
<div class="mdc-card">
      <button class="mdc-button mdc-button--raised">Maintenance</button>
</div>
<div class="button-container">
   <button type="button" class="mdc-button cancel">Cancel</button>
   <button class="mdc-button mdc-button--raised next">Next</button>
</div>
{{outlet}}