<h2>Core Route</h2>
<div class="navbar">
 {{#link-to vehicles}}vehicles{{/link-to}}{{#link-to trips}}Trips{{/link-to}}{{#link-to fillups}}Fill-ups{{/link-to}}
</div>
<div class="core">{{outlet}}</div>