<div class="mdc-card">
<h2>Core Route</h2>
<div class="navbar">
 {{#link-to vehicle-manager class="button"}}vehicles{{/link-to}}{{#link-to trips class="button"}}Trips{{/link-to}}{{#link-to fillups class="button"}}Fill-ups{{/link-to}}
</div>
<div class="mdc-card mdc-elevation--z1" style="overscroll:hidden">{{outlet}}</div>
</div>
