// route: fillup-list

.fillup-list {
   border: 1px solid white;
   padding: 2px;
   .gc-fillup-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2px;
      background-color: #306090;
   }
   .gc-fillup-list > div {
      border-color: aqua;
      text-align: center;
   }
   .label {
      font-size: 1.2em;
      background-color: rgba($color: #008888, $alpha: 1.0);
      align-content: center;
      color: white;
   }
   .data {
      font-size: 1.0em;
      background-color: rgba($color: #AAA, $alpha: 1.0);
   }
}
